.movie-detail-bg {
  background-color: #394b66;
  min-height: 100vh;
}

.movie-detail-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: white;
}
